# Time and Date Series in Python and Pandas I

This tutorial will provide an overview of some of the functionality Python, NumPy and Pandas offer to manipulate time series, and date, time objects. The tutorial is meant to be an introduction and it will not be exhaustive in the treatment of the exstensive functionality offered by the python libraries.

#### Learning goals

  - `Python` - Date and Time objects
  - `NumPy` - Date and Time objects
  - `Pandas` - Date and Time objects
  
#### Prerequisites
  - Python and NumPy
  - Pandas, DataFrames and Series
  
 ---

## Python time and dates

Python offers a series of core and additional functions dealing with time, time zones, calendars, etc. 

These modules come standard with Python3. The modules mostly provide access to the Linux/Unix (or Windows) OS time-oriented functionality.

| Module Name | Description | Usage |
| --- | --- | --- |
| [Time](https://docs.python.org/3/library/time.html#module-time) | This module provides various time-related functions. | `import time` |
| [datetime](https://docs.python.org/3/library/datetime.html#module-datetime) | This module supplies classes for manipulating dates and times. | `import datetime` |
| [Calendar](https://docs.python.org/3/library/calendar.html#module-calendar) | This module allows you to output calendars like the Unix cal program, and provides additional useful functions related to the calendar. | `import calendar` |
|[Zoneinfo](https://docs.python.org/3/library/zoneinfo.html#module-zoneinfo) | A time zone implementation interfacing with the systemâ€™s time zone data (if available e.g. Unix/Linux; see also [PEP 615](https://peps.python.org/pep-0615/)). | ` import zoneinfo` |

Although we will cover some of the functionality in these python modules, an exhustive coverage of the functionality of these python modules is beyond the scope of the current tutorial. That said below the list of modules pertaining with time and date operations and data.

---

### Python Core Time Objects

The core functionality of time events in Python can be accessed using `time` and `datetime`. 

For example, we can import `datetime` and access my date of birth we could easily access it (if you were to know the correct one) use syntax as follows:

In [1]:
from datetime import datetime

my_birthdate = datetime(year=1985, 
              month=11, 
              day=15, 
              hour=11, 
              minute=36, 
              second=55)
print(my_birthdate)

1985-11-15 11:36:55

As you can see above, `datetime` allows addressing years, months, days, etc. just like properties of objects. The output variables are well formatted strings. 

The months, days, hours and minutes are formatted in ways that we are generally used to, the 'look good'. The formatting used by `datetime` is called [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601) (it follows this syntax: `YYYY-MM-DDTHH:MM:SS. mmmmmm`).

---

$\color{blue}{\text{Complete the following exercise.}}$

  Use the cell below to `print` your own date of birth using the method seen above.

In [2]:
from datetime import datetime

my_birthdate = datetime(year=1998, 
              month=4, 
              day=24, 
              hour=12, 
              minute=28, 
              second=30)
print(my_birthdate)

1998-04-24 12:28:30

**`time` is also part of python's core functionality.**

It provides a more fexible, yet more complex, less object-oriented and less data-science friendly interface.

For example, if we wanted to get a date and time (say the current time) using `time`, we would need to first import two modules, `gmtime` to get the time and `strftime` to format the time.

`gmtime` would allow extracting the information about the current time.

In [3]:
from time import gmtime, strftime
gmtime()

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=9, tm_hour=17, tm_min=0, tm_sec=39, tm_wday=4, tm_yday=343, tm_isdst=0)

As you can appreciate, the output is not nicely formatted. At least not as nicely formatted using the ISO 8601 standard as seen above in the output of `datetime`.

We can format the output with some additional work, using `strftime()`. For example,

In [4]:
strftime("%a, %d %b %Y %H:%M:%S +0000", gmtime())

'Fri, 09 Dec 2022 17:00:40 +0000'

The type of the time value sequence returned by `gmtime()`  It is an object with a named tuple interface with following values that can be accessed by index and by attribute name. The following values are present:

| Index | Attribute | Values |
| --- | --- | --- | 
| 0 | tm_year | (for example, 1993) |
| 1 | tm_mon | range [1, 12] |
| 2 | tm_mday | range [1, 31] |
| 3 | tm_hour | range [0, 23] |
| 4 | tm_min | range [0, 59] |
| 5 | tm_sec | range [0, 61]; see (2) in strftime() description |
| 6 | tm_wday | range [0, 6], Monday is 0 |
| 7 | tm_yday | range [1, 366] |
| 8 | tm_isdst | 0, 1 or -1; see below |
| N/A | tm_zone | abbreviation of timezone name |
| N/A | tm_gmtoff | offset east of UTC in seconds|

$\color{blue}{\text{Complete the following exercise.}}$

 - Try, returning the values into a variable (say `vals`) and access them as previously learned (hint, `vals.<val_name>`):

In [6]:
vals = my_birthdate
vals.month

print('My Month of Birthday is ', vals.month)

My Month of Birthday is  4

`gmtime()` returns time for `Greenwich Mean Time (GMT)` that is a standard timezone in the UK. Given that Austin, TX is currently in CDT. We could return the current hour in Austin by adding the 5 hours different. 

For example:

In [7]:
vals = gmtime()

theHourInGreenwichUK = vals.tm_hour
print('Time in Greenwhich, UK: ', theHourInGreenwichUK)

theHourInAustinTX = theHourInGreenwichUK - 5
print('Time in Austin, TX: ', theHourInAustinTX)

Time in Greenwhich, UK:  17
Time in Austin, TX:  12

So, informastion can be extracted, yet, it takes some work and knowledge to get it out. It would be convenient to have easier ways to manipulate dates more explicitely.

$\color{blue}{\text{Complete the following exercise.}}$

 - Print the current time in San Diego (CA)

In [8]:
theHourInSanDiego = theHourInGreenwichUK - 8
print('Time in San Diego, CA: ', theHourInSanDiego)

Time in San Diego, CA:  9

#### A note about Naive and Aware objects.

Objects pertaining time and dates depend on geographical position and time zones. Time zones could be day-light savings, e.g., CDT for Austin, TX or standard, e.g., CST for Austin, TX. 

Two types of objects exist in python:
  - Aware Objects - Objects are called `aware` when they can locate themselves relative to other aware objects. Aware objects represent a specific moment in time that is not open to interpretation.

  - Naive Objects - A naive objects do not contain enough information to unambiguously locate themselves relative to other date/time objects. Whether a naive object represents Coordinated Universal Time (UTC), local time, or time in some other timezone is purely up to the program, just like it is up to the program whether a particular number represents metres, miles, or mass. 
  
  
The outputs on `datetime` are `time` are naive by default. Optional calls to `timezone` can be made to make the objects aware. See [here](https://docs.python.org/3/library/datetime.html) for more information about Naive and Aware time objects.

The functionality of `datetime` and `time` is exstensive as they allow advance and flexible manipulation of events, timing and calendars. The goal of this tutorial is to get you started and provide an overview of methods available to access time and date information. 

One limitation of of the core function for time manipulation in python is the inability to handle large arrays of dates and times. This is an important feature, especially for data science applications where often times arrays can reach a large size. 

This issue is similar to the issue we have encountered before, where the standard lists in Python are limited in their ability to support advanced numerical operations. 

---

## NumPy objects for date and time

As we learned in previous tutorials, NumPy addressed the needs of the community to handle large datasets by providing the ability to store large variables into computable objects. 

Also for time and date functionality, NumPy added to the set of native date and time python functions, a set of additional functions to handle large objects, manipulate and perform numerical operations. 


The functions NumPy added build on top of two NumPy objects:
  
  - `datetime64` - 
  - `timedelta64`
  
`datetime64` and `timedelta64` encodes dates as 64-bit integers, array operator. This allows the data stored as a date to be much larger than the basic python date and time variables and allows them to be computable.

---

A NumPy `datetime64` variable can be usig very specific formats for example:

In [9]:
import numpy as np
date = np.array('1985-11-15', dtype=np.datetime64)
print('ISO format <', date, '>')

ISO format < 1985-11-15 >

Note that the NumPy arrays requires a very specific format as input: 'YYYY-MM-DD'. This is the most basic way to create datetimes array using an ISO 8601 date or datetime format.

This new object is though fundamentally different than any of the previously encountered data, time objects in python. For example, we can perform direct computations using this object (datetime in NumPy works with most NumPy operations such as `arange`). 

Hereafter we add numbers in the range between [0-11] to the days in the original date and replicate the entry in the array in a single operation:

In [10]:
date + np.arange(12)

array(['1985-11-15', '1985-11-16', '1985-11-17', '1985-11-18',
       '1985-11-19', '1985-11-20', '1985-11-21', '1985-11-22',
       '1985-11-23', '1985-11-24', '1985-11-25', '1985-11-26'],
      dtype='datetime64[D]')

$\color{blue}{\text{Complete the following exercise.}}$

 - Create the date of your birth (as dtype=np.datetime64) and add to it your current age. Print the result:

In [11]:
date = np.array('2000-11-20', dtype=np.datetime64)
date + 365*np.arange(22)

array(['2000-11-20', '2001-11-20', '2002-11-20', '2003-11-20',
       '2004-11-19', '2005-11-19', '2006-11-19', '2007-11-19',
       '2008-11-18', '2009-11-18', '2010-11-18', '2011-11-18',
       '2012-11-17', '2013-11-17', '2014-11-17', '2015-11-17',
       '2016-11-16', '2017-11-16', '2018-11-16', '2019-11-16',
       '2020-11-15', '2021-11-15'], dtype='datetime64[D]')

A range of days can be specified at definition to when creating an array:

In [12]:
daysInTwoMonths = np.arange('2020-02', '2020-04', dtype='datetime64[D]')

print('All days in two months', daysInTwoMonths)

All days in two months ['2020-02-01' '2020-02-02' '2020-02-03' '2020-02-04' '2020-02-05'
 '2020-02-06' '2020-02-07' '2020-02-08' '2020-02-09' '2020-02-10'
 '2020-02-11' '2020-02-12' '2020-02-13' '2020-02-14' '2020-02-15'
 '2020-02-16' '2020-02-17' '2020-02-18' '2020-02-19' '2020-02-20'
 '2020-02-21' '2020-02-22' '2020-02-23' '2020-02-24' '2020-02-25'
 '2020-02-26' '2020-02-27' '2020-02-28' '2020-02-29' '2020-03-01'
 '2020-03-02' '2020-03-03' '2020-03-04' '2020-03-05' '2020-03-06'
 '2020-03-07' '2020-03-08' '2020-03-09' '2020-03-10' '2020-03-11'
 '2020-03-12' '2020-03-13' '2020-03-14' '2020-03-15' '2020-03-16'
 '2020-03-17' '2020-03-18' '2020-03-19' '2020-03-20' '2020-03-21'
 '2020-03-22' '2020-03-23' '2020-03-24' '2020-03-25' '2020-03-26'
 '2020-03-27' '2020-03-28' '2020-03-29' '2020-03-30' '2020-03-31']

$\color{blue}{\text{Complete the following exercise.}}$

 - Question 1: Does NumPy treat "February' properly?

Answer: It looks like yes, even though it's a month with an inconsistent date.

 - Question 2: Does it deal with leap years?

Answer: It seems like they do.

In the short overview of NumPy above we have seen that it made two fundamental improvements over the more basic ways to access date and time information in python:
  - First it allowed handling larger arrays
  - Second it made the date and time arrays computable, just like the other objects in NumPy

---
## Pandas Time Series

As discussed in previous tutorials, Pandas was developed to handle data from investment banking. A key aspect of the data types that investment banking have to deal with is time series; data tht varies across actual time (seconds, minutes, hours, days, weeks, months and years).

Because of this, Pandas comes with abundant functionality to deal with time series, time events and computations. The Pandas time series functionality leverages what we have alredy discussed about the library *indexes*, *series* and *data frames* and builts on top of python's own time functions.

Whereas Python allows accessing fundamental time and date information from the operative system and NumPy turns the time and date objects into computable data, Pandas improves this functionality to build full-time series tables and objects.

Pandas consolidated functionality from the basic python libraries as well as NumPy (as well as scikits.timeseries). In doing so, Pandas has also created new functionality for manipulating time series data. Pandas Organizes and provides a cohesive interface to call NumPy and Python core time functions.

---

Pandas builds upon the following objects:
  - Python's `datetime` (as well as `dateutil`)
  - NumPy's `datetime64`
  - Pandas'
    - `Timestamp`
    - `DatetimeIndex`
    - `Series`
    - `DataFrame`

---

Hereafer, we will dig into a few of the features pandas has to offer!

### Pandas basic time an date objects

The fundamental objects dealing with time series in Pandas is `Timestamp`. The object can be created from heterogeneous input data formats, that are more user friendly. 

This means that the same Timestamp can be created from differently formatted inputs. Pandas' will interpret the different formatting and map them to appropriate datetime objects (with some limits of course):

In [13]:
import pandas as pd
import numpy as np

In [14]:
date = pd.to_datetime("15th of November, 1985")
date
print('Output from "15th of November, 1985"', date)

Output from "15th of November, 1985" 1985-11-15 00:00:00

In [15]:
date = pd.to_datetime("November 15, 1985")
print('Output from "November 15, 2015"     ', date)

Output from "November 15, 2015"      1985-11-15 00:00:00

$\color{blue}{\text{Complete the following exercise.}}$

 - Use pandas' `.to_datetime` to create a your birthdate and print it using the cell below

In [16]:
birthdate = pd.to_datetime('24th of April, 1998')
birthdate
print(birthdate)

1998-04-24 00:00:00

Another example of the flexibility of Pandas' interpretation of inputs:

In [17]:
date1 = pd.to_datetime([datetime(1985, 11, 15), '14th of November, 1985',
                       '1985-Nov-15', '07-11-1985', '19851108'])
date1

DatetimeIndex(['1985-11-15', '1985-11-14', '1985-11-15', '1985-07-11',
               '1985-11-08'],
              dtype='datetime64[ns]', freq=None)

All above diverse formats have been interpreted correctly.  Instead, the following odd formatting will fail, because Pandas will not be prepared to parse it:

In [18]:
date2 = pd.to_datetime("November 15 : 1985")
print('Output from "November 15 : 1985"     ', date2)

ParserError: Unknown string format: November 15 : 1985

`.to_datetime` is the method to take an input, interpret it and map it to the appropriate time and date (`Timestamp` in Pandas).

---

The `Timestamp` object is elevated in pandas into the `DatetimeIndex` object. The DatetimeIndex allows array-style operations, similar to those allowed by NumPay. 

For example, we can show 20 days starting on November 15 1985:

In [19]:
date + pd.to_timedelta(np.arange(20), 'D')

DatetimeIndex(['1985-11-15', '1985-11-16', '1985-11-17', '1985-11-18',
               '1985-11-19', '1985-11-20', '1985-11-21', '1985-11-22',
               '1985-11-23', '1985-11-24', '1985-11-25', '1985-11-26',
               '1985-11-27', '1985-11-28', '1985-11-29', '1985-11-30',
               '1985-12-01', '1985-12-02', '1985-12-03', '1985-12-04'],
              dtype='datetime64[ns]', freq=None)

Note how the `Timestamp` object `date` was changed into a `DatetimeIndex` by the above operation.

An operation similar to the above can also be implemented by accessing directly Pandas' functionality to manipulate dates. This is another way to create a range starting from a specific year-month-day:

In [20]:
dates = pd.date_range("19851115", periods=20, freq='D')
print(dates)

DatetimeIndex(['1985-11-15', '1985-11-16', '1985-11-17', '1985-11-18',
               '1985-11-19', '1985-11-20', '1985-11-21', '1985-11-22',
               '1985-11-23', '1985-11-24', '1985-11-25', '1985-11-26',
               '1985-11-27', '1985-11-28', '1985-11-29', '1985-11-30',
               '1985-12-01', '1985-12-02', '1985-12-03', '1985-12-04'],
              dtype='datetime64[ns]', freq='D')

A simple change allows performing the same operation across months:

In [21]:
dates = pd.date_range("19851115", periods=20, freq='M')
dates

DatetimeIndex(['1985-11-30', '1985-12-31', '1986-01-31', '1986-02-28',
               '1986-03-31', '1986-04-30', '1986-05-31', '1986-06-30',
               '1986-07-31', '1986-08-31', '1986-09-30', '1986-10-31',
               '1986-11-30', '1986-12-31', '1987-01-31', '1987-02-28',
               '1987-03-31', '1987-04-30', '1987-05-31', '1987-06-30'],
              dtype='datetime64[ns]', freq='M')

In [22]:
df = pd.DataFrame(np.random.randn(np.squeeze(dates.shape), 4), 
                  index=dates, 
                  columns={"Peace", "Love", "knowledge", "compassion"})

In [23]:
df

               Peace  knowledge  compassion      Love
1985-11-30 -0.138915   0.362788   -0.640012 -1.045884
1985-12-31  2.269069   1.643325    0.481796  0.370625
1986-01-31  0.788766  -1.633237    1.701131 -0.466879
1986-02-28  0.418370   0.433155    0.933857  0.442729
1986-03-31  0.581529  -1.053883    1.074852 -0.096268
1986-04-30  0.121354   1.609499   -0.110953 -0.800301
1986-05-31  1.179839   0.765102   -0.741811  0.430859
1986-06-30 -0.181141   1.003301   -1.215059 -0.567736
1986-07-31  2.336395   0.084520    0.125520 -0.427622
1986-08-31  1.346999   0.736286   -0.875834  0.323344
1986-09-30 -0.223076  -0.835930    2.018336 -0.321471
1986-10-31 -0.331564  -0.452846    0.905368 -0.964617
1986-11-30  0.543572   0.528571    0.403122  0.871580
1986-12-31 -0.986344  -0.672603    0.877040  2.315744
1987-01-31 -1.412673  -0.532885    2.104614 -1.448092
1987-02-28  0.282667  -0.418779   -0.544130 -0.136383
1987-03-31  0.758493   0.797571   -1.151823  0.443389
1987-04-30  0.849117   0.862721   -1.026367  1.150453
1987-05-31 -0.302633  -1.033469    0.293579 -1.138012
1987-06-30  0.729982   0.085000   -0.083691 -1.887889

$\color{blue}{\text{Complete the following exercise.}}$

 - Create a dataframe that has your life in months (or years) as index and as columns
   - Your happinness rating per month or year. Scale 0-5 where 5 is happiest.
   - Your luck score per month or year. Scale 0-5 where 5 is happiest.
   - Your Pet's favourite song per month or year.

In [25]:
dates = pd.date_range("19980424", periods=24, freq='Y')
df = pd.DataFrame(np.random.randn(np.squeeze(dates.shape), 3), 
                  index=dates, 
                  columns=["Happiness", "Luck", "Jasmine's Fave Song"])
df

            Happiness      Luck  Jasmine's Fave Song
1998-12-31  -0.150393 -0.477275             0.019085
1999-12-31   1.524264 -0.743192             0.426449
2000-12-31  -0.350935 -0.350109            -2.062988
2001-12-31   0.454611 -1.323980             0.713157
2002-12-31   2.182032 -0.601662            -1.348089
2003-12-31   0.470740 -0.005285             1.453032
2004-12-31  -0.244750  0.351664            -0.346021
2005-12-31  -0.530580 -0.722317             1.674496
2006-12-31   1.058776  1.062912             0.848372
2007-12-31  -2.017269  0.073338            -0.180478
2008-12-31   1.136827  1.631464             0.215418
2009-12-31   0.516904 -0.730433             3.551421
2010-12-31   0.999065 -0.715183             0.269028
2011-12-31   0.337491 -0.773875             0.724868
2012-12-31  -0.366072  0.980435             0.552243
2013-12-31  -0.369626  1.093705            -0.896047
2014-12-31   1.520898 -1.413631             0.819345
2015-12-31  -0.249498  0.207381             1.073950
2016-12-31  -0.647503  0.461459            -1.196393
2017-12-31  -1.056144  1.592310            -1.519568
2018-12-31  -0.515243  1.350953             1.231161
2019-12-31  -1.367595  0.604828            -0.655273
2020-12-31  -1.322925 -0.263312            -0.263821
2021-12-31  -0.124386  0.684985             0.716645

---

### Manipulating Pandas' Time Series

We have learned before that Pandas Series and DataFrame objects allow sotring data and are indexed. Indices become extremely helpful when we start dealing with Time Series.

---

For example we can initialize a Pandas `index` object by using a Pandas `DatetimeIndex` object. The latter can be the used to label a series. Let's take a look.

We will first create a range of dates and use them as indeces to a Series:

In [26]:
index   = pd.date_range("19851115", periods=6, freq='Y')
data    = [0, 1, 2, 3, 4, 5]

dseries = pd.Series(data, index=index)
dseries

1985-12-31    0
1986-12-31    1
1987-12-31    2
1988-12-31    3
1989-12-31    4
1990-12-31    5
Freq: A-DEC, dtype: int64

The above dseries is a Padas Series object with a frequency in years ('Y', aligned to december). The labels (or indices) are dates and the data are just numbers between 0 and 5.

Just like any label or index we can use the data indices to address the Pandas Series. For example, we can find the a subset of four entries:

In [27]:
dseries['1986-12-31':'1989-12-31']

1986-12-31    1
1987-12-31    2
1988-12-31    3
1989-12-31    4
Freq: A-DEC, dtype: int64

Also Pandas allows indexing Series by leading trails of the labels. For example, the year can be used as index â€“ without need to specify the rest of the date:

In [28]:
dseries['1985']

1985-12-31    0
Freq: A-DEC, dtype: int64

This operation would have worked also if the dates had been different (not all matching December 31).

---

In sum, in this tutorial we have provided an overview of some of the functionality that Python, NumPy and Pandas offer to manipulate time series, and date, time objects. Tutorial with more advanced functionality for manipulating and platting time series.

---

$\color{blue}{\text{Complete the following exercise.}}$

Create a Pandas DataFrame (hah!) that uses dates as indices and stores data about three variables: 

1. Mental health; 
2. Quality of life; and 
3. Heart rate. 

The measurements were taken in a single subject between May 19, 1985 and June 16, 1995 at a monthly rate.

In [29]:
start = "1985-05-10"
end = "1995-06-16"
dates = pd.date_range(start[:7], end,freq='MS') + pd.DateOffset(days=7)
dates

DatetimeIndex(['1985-05-08', '1985-06-08', '1985-07-08', '1985-08-08',
               '1985-09-08', '1985-10-08', '1985-11-08', '1985-12-08',
               '1986-01-08', '1986-02-08',
               ...
               '1994-09-08', '1994-10-08', '1994-11-08', '1994-12-08',
               '1995-01-08', '1995-02-08', '1995-03-08', '1995-04-08',
               '1995-05-08', '1995-06-08'],
              dtype='datetime64[ns]', length=122, freq=None)

In [30]:
date2add = pd.DatetimeIndex(["1995-06-16"])
date2add

DatetimeIndex(['1995-06-16'], dtype='datetime64[ns]', freq=None)

In [31]:
dates = dates.append(date2add)
dates

DatetimeIndex(['1985-05-08', '1985-06-08', '1985-07-08', '1985-08-08',
               '1985-09-08', '1985-10-08', '1985-11-08', '1985-12-08',
               '1986-01-08', '1986-02-08',
               ...
               '1994-10-08', '1994-11-08', '1994-12-08', '1995-01-08',
               '1995-02-08', '1995-03-08', '1995-04-08', '1995-05-08',
               '1995-06-08', '1995-06-16'],
              dtype='datetime64[ns]', length=123, freq=None)

In [32]:

df = pd.DataFrame(np.random.randint(low=0, high=100, size = ((np.squeeze(dates.shape), 3))),
                  index=dates, 
                  columns=["Mental health", "Quality of life", "Heart rate"])
df

            Mental health  Quality of life  Heart rate
1985-05-08             91               58          99
1985-06-08             98               48          65
1985-07-08             86               88          17
1985-08-08             68               48          52
1985-09-08             64               11          98
...                   ...              ...         ...
1995-03-08             23               46          30
1995-04-08             99               84          22
1995-05-08             13                7          43
1995-06-08              1               78          74
1995-06-16             71               40          48

[123 rows x 3 columns]